In [1]:
import sqlalchemy
con = sqlalchemy.create_engine('postgres://localhost/baseball')

In [16]:
view = '''
create view choices as
select 
    game_id,
    bat_id,
    BAT_HOME_ID,
    BAT_LINEUP_ID,
    array_agg(BAT_HAND_CD),
    count(event_id), 
    max(h_cd) as best_hit, 
    count(case h_cd when '0' then null else 1 end) as num_hits, 
    count(case h_cd when '1' then 1 else null end) as num_singles,
    count(case h_cd when '2' then 1 else null end) as num_doubles, 
    count(case h_cd when '3' then 1 else null end) as num_triples,
    count(case h_cd when '4' then 1 else null end) as num_hrs 
    from vw_events 
        inner join vw_games using (game_id) 
    where 
        bat_start_fl='T' 
        and BAT_EVENT_FL='T'
        and bat_fld_cd != '1'
    group by game_id, bat_id, BAT_HOME_ID, BAT_LINEUP_ID
'''
con.execute("drop view if exists choices cascade;")
con.execute(view)
pd.read_sql("select * from choices", con)
# should be: 41278

,game_id,bat_id,bat_home_id,bat_lineup_id,array_agg,count,best_hit,num_hits,num_singles,num_doubles,num_triples,num_hrs
0,ANA201504100,aybae001,1,6,"[R, L, R, L]",4,0,0,0,0,0,0
1,ANA201504100,cainl001,0,3,"[R, R, R, R, R]",5,2,2,1,1,0,0
2,ANA201504100,calhk001,1,1,"[L, L, L, L]",4,2,1,0,1,0,0
3,ANA201504100,cowgc001,1,8,"[R, R]",2,1,1,1,0,0,0
4,ANA201504100,cronc002,1,5,"[R, R, R, R]",4,0,0,0,0,0,0
5,ANA201504100,escoa003,0,1,"[R, R, R, R, R]",5,1,1,1,0,0,0
6,ANA201504100,freed001,1,4,"[R, R, R, R]",4,4,2,1,0,0,1
7,ANA201504100,giavj001,1,9,"[R, R, R]",3,0,0,0,0,0,0
8,ANA201504100,gorda001,0,6,"[L, L, L, L]",4,0,0,0,0,0,0
9,ANA201504100,hosme001,0,4,"[L, L, L, L, L]",5,1,1,1,0,0,0
10,ANA201504100,iannc001,1,7,"[R, R, R, R]",4,0,0,0,0,0,0
11,ANA201504100,infao001,0,9,"[R, R, R, R]",4,1,1,1,0,0,0
12,ANA201504100,morak001,0,5,"[R, R, R, R, R]",5,4,2,1,0,0,1
13,ANA201504100,mousm001,0,2,"[L, L, L, L, L]",5,1,1,1,0,0,0
14,ANA201504100,peres002,0,8,"[R, R, R, R]",4,1,1,1,0,0,0
15,ANA201504100,pujoa001,1,3,"[R, R, R, R]",4,0,0,0,0,0,0
16,ANA201504100,riosa002,0,7,"[R, R, R, R]",4,0,0,0,0,0,0
17,ANA201504100,troum001,1,2,"[R, R, R, R]",4,1,2,2,0,0,0
18,ANA201504110,aybae001,1,6,"[L, L, L, L]",4,1,1,1,0,0,0
19,ANA201504110,buted001,1,8,"[R, R]",2,1,1,1,0,0,0
20,ANA201504110,cainl001,0,3,"[R, R, R, R, R]",5,1,1,1,0,0,0
21,ANA201504110,calhk001,1,1,"[L, L, L, L]",4,4,2,0,1,0,1
22,ANA201504110,escoa003,0,1,"[R, R, R, R, R]",5,1,1,1,0,0,0
23,ANA201504110,freed001,1,5,"[R, R, R, R]",4,0,0,0,0,0,0
24,ANA201504110,giavj001,1,9,"[R, R, R]",3,0,0,0,0,0,0
25,ANA201504110,gorda001,0,6,"[L, L, L, L, L]",5,0,0,0,0,0,0
26,ANA201504110,hosme001,0,4,"[L, L, L, L, L]",5,1,1,1,0,0,0
27,ANA201504110,infao001,0,9,"[R, R, R, R]",4,1,1,1,0,0,0
28,ANA201504110,joycm001,1,4,"[L, L, L, L]",4,0,0,0,0,0,0
29,ANA201504110,morak001,0,5,"[L, R, R, L, L]",5,2,3,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
41248,WAS201509270,blana001,0,2,"[L, L, R, R, R, R]",6,4,3,2,0,0,1
41249,WAS201509270,dendm001,1,7,"[L, L, L, L]",4,4,4,2,1,0,1
41250,WAS201509270,desmi001,1,6,"[R, R, R]",3,4,3,2,0,0,1
41251,WAS201509270,escoy001,1,4,"[R, R, R, R]",4,0,0,0,0,0,0
41252,WAS201509270,franj004,0,5,"[R, R, R, R, R]",5,4,3,1,1,0,1
41253,WAS201509270,galvf001,0,1,"[R, L, R, R, R, L]",6,1,3,3,0,0,0
41254,WAS201509270,harpb003,1,3,"[L, L, L, L]",4,0,0,0,0,0,0
41255,WAS201509270,krate001,0,6,"[R, R, R, R]",4,1,1,1,0,0,0
41256,WAS201509270,lobaj001,1,8,"[L, L, L, L]",4,2,1,0,1,0,0
41257,WAS201509270,renda001,1,2,"[R, R, R, R]",4,0,0,0,0,0,0
41258,WAS201509270,robic001,1,5,"[L, L, L, L]",4,0,0,0,0,0,0
41259,WAS201509270,ruf-d001,0,4,"[R, R, R, R, R]",5,0,0,0,0,0,0
41260,WAS201509270,ruppc001,0,8,"[R, R, R, R, R]",5,1,1,1,0,0,0
41261,WAS201509270,taylm002,1,1,"[R, R, R, R]",4,0,0,0,0,0,0
41262,WAS201509280,barnt001,0,8,"[L, L, L]",3,1,1,1,0,0,0
41263,WAS201509280,boesb001,0,7,"[L, L, L]",3,0,0,0,0,0,0
41264,WAS201509280,brucj001,0,5,"[L, L, L, L]",4,0,0,0,0,0,0
41265,WAS201509280,dejei002,0,2,"[R, R, R, R]",4,0,0,0,0,0,0
41266,WAS201509280,dendm001,1,7,"[L, L, L, L]",4,4,3,0,2,0,1
41267,WAS201509280,frazt001,0,4,"[R, R, R, R]",4,0,0,0,0,0,0
41268,WAS201509280,moort002,1,6,"[R, R, R, R]",4,1,1,1,0,0,0
41269,WAS201509280,ramow001,1,5,"[R, R, R, R]",4,4,1,0,0,0,1
41270,WAS201509280,renda001,1,3,"[R, R, R, R]",4,2,1,0,1,0,0
41271,WAS201509280,robic001,1,4,"[L, L, L, L]",4,1,1,1,0,0,0
41272,WAS201509280,schus001,0,1,"[L, L, L, L]",4,1,1,1,0,0,0
41273,WAS201509280,suare001,0,6,"[R, R, R]",3,0,0,0,0,0,0
41274,WAS201509280,taylm002,1,1,"[R, R, R, R, R]",5,1,2,2,0,0,0
41275,WAS201509280,turnt001,1,2,"[R, R, R, R]",4,1,1,1,0,0,0
41276,WAS201509280,uggld001,1,8,"[R, R, R, R]",4,0,0,0,0,0,0
41277,WAS201509280,vottj001,0,3,"[L, L, L, L]",4,1,1,1,0,0,0

In [2]:
import pandas as pd
sql = '''
select distinct on (game_id, choices.bat_id)
    game_date,
    batter.first_name_tx,
    batter.last_name_tx,
    choices.*,
    BAT_HOME_ID as batter_home,
    case BAT_HOME_ID when '0' then HOME_START_PIT_ID else AWAY_START_PIT_ID end as opposing_pitcher_id,
    case BAT_HOME_ID when '1' then HOME_TEAM_ID else AWAY_TEAM_ID end as team_id,
    case BAT_HOME_ID when '0' then HOME_TEAM_ID else AWAY_TEAM_ID end as opposing_team_id,
    DH_FL,
    DAYNIGHT_PARK_CD,
    PARK_ID,
    AWAY_START_PIT_ID,
    HOME_START_PIT_ID,
    ATTEND_PARK_CT,
    TEMP_PARK_CT,
    WIND_SPEED_PARK_CT,
    FIELD_PARK_CD,
    PRECIP_PARK_CD,
    SKY_PARK_CD,
    batter.bat_hand_cd as bat_hand,
    opposing_pitcher.pit_hand_cd
from choices 
    inner join vw_games using (game_id)
    inner join rosters as batter on (choices.bat_id = batter.player_id)
    inner join rosters as opposing_pitcher on ((case BAT_HOME_ID when '0' then HOME_START_PIT_ID else AWAY_START_PIT_ID end) = opposing_pitcher.player_id)
'''

choices = pd.read_sql(sql, con)
choices

,game_date,first_name_tx,last_name_tx,game_id,bat_id,bat_home_id,bat_lineup_id,array_agg,count,best_hit,...,away_start_pit_id,home_start_pit_id,attend_park_ct,temp_park_ct,wind_speed_park_ct,field_park_cd,precip_park_cd,sky_park_cd,bat_hand,pit_hand_cd
0,2015-04-10,Erick,Aybar,ANA201504100,aybae001,1,6,"[R, L, R, L]",4,0,...,vargj001,santh001,44489,67,7,0,0,2,B,L
1,2015-04-10,Lorenzo,Cain,ANA201504100,cainl001,0,3,"[R, R, R, R, R]",5,2,...,vargj001,santh001,44489,67,7,0,0,2,R,L
2,2015-04-10,Kole,Calhoun,ANA201504100,calhk001,1,1,"[L, L, L, L]",4,2,...,vargj001,santh001,44489,67,7,0,0,2,L,L
3,2015-04-10,Collin,Cowgill,ANA201504100,cowgc001,1,8,"[R, R]",2,1,...,vargj001,santh001,44489,67,7,0,0,2,R,L
4,2015-04-10,C.J.,Cron,ANA201504100,cronc002,1,5,"[R, R, R, R]",4,0,...,vargj001,santh001,44489,67,7,0,0,2,R,L
5,2015-04-10,Alcides,Escobar,ANA201504100,escoa003,0,1,"[R, R, R, R, R]",5,1,...,vargj001,santh001,44489,67,7,0,0,2,R,L
6,2015-04-10,David,Freese,ANA201504100,freed001,1,4,"[R, R, R, R]",4,4,...,vargj001,santh001,44489,67,7,0,0,2,R,L
7,2015-04-10,Johnny,Giavotella,ANA201504100,giavj001,1,9,"[R, R, R]",3,0,...,vargj001,santh001,44489,67,7,0,0,2,R,L
8,2015-04-10,Alex,Gordon,ANA201504100,gorda001,0,6,"[L, L, L, L]",4,0,...,vargj001,santh001,44489,67,7,0,0,2,L,L
9,2015-04-10,Eric,Hosmer,ANA201504100,hosme001,0,4,"[L, L, L, L, L]",5,1,...,vargj001,santh001,44489,67,7,0,0,2,L,L
10,2015-04-10,Chris,Iannetta,ANA201504100,iannc001,1,7,"[R, R, R, R]",4,0,...,vargj001,santh001,44489,67,7,0,0,2,R,L
11,2015-04-10,Omar,Infante,ANA201504100,infao001,0,9,"[R, R, R, R]",4,1,...,vargj001,santh001,44489,67,7,0,0,2,R,L
12,2015-04-10,Kendrys,Morales,ANA201504100,morak001,0,5,"[R, R, R, R, R]",5,4,...,vargj001,santh001,44489,67,7,0,0,2,B,L
13,2015-04-10,Mike,Moustakas,ANA201504100,mousm001,0,2,"[L, L, L, L, L]",5,1,...,vargj001,santh001,44489,67,7,0,0,2,L,L
14,2015-04-10,Salvador,Perez,ANA201504100,peres002,0,8,"[R, R, R, R]",4,1,...,vargj001,santh001,44489,67,7,0,0,2,R,L
15,2015-04-10,Albert,Pujols,ANA201504100,pujoa001,1,3,"[R, R, R, R]",4,0,...,vargj001,santh001,44489,67,7,0,0,2,R,L
16,2015-04-10,Alex,Rios,ANA201504100,riosa002,0,7,"[R, R, R, R]",4,0,...,vargj001,santh001,44489,67,7,0,0,2,R,L
17,2015-04-10,Mike,Trout,ANA201504100,troum001,1,2,"[R, R, R, R]",4,1,...,vargj001,santh001,44489,67,7,0,0,2,R,L
18,2015-04-11,Erick,Aybar,ANA201504110,aybae001,1,6,"[L, L, L, L]",4,1,...,guthj001,weavj003,44154,68,6,0,0,1,B,R
19,2015-04-11,Drew,Butera,ANA201504110,buted001,1,8,"[R, R]",2,1,...,guthj001,weavj003,44154,68,6,0,0,1,R,R
20,2015-04-11,Lorenzo,Cain,ANA201504110,cainl001,0,3,"[R, R, R, R, R]",5,1,...,guthj001,weavj003,44154,68,6,0,0,1,R,R
21,2015-04-11,Kole,Calhoun,ANA201504110,calhk001,1,1,"[L, L, L, L]",4,4,...,guthj001,weavj003,44154,68,6,0,0,1,L,R
22,2015-04-11,Alcides,Escobar,ANA201504110,escoa003,0,1,"[R, R, R, R, R]",5,1,...,guthj001,weavj003,44154,68,6,0,0,1,R,R
23,2015-04-11,David,Freese,ANA201504110,freed001,1,5,"[R, R, R, R]",4,0,...,guthj001,weavj003,44154,68,6,0,0,1,R,R
24,2015-04-11,Johnny,Giavotella,ANA201504110,giavj001,1,9,"[R, R, R]",3,0,...,guthj001,weavj003,44154,68,6,0,0,1,R,R
25,2015-04-11,Alex,Gordon,ANA201504110,gorda001,0,6,"[L, L, L, L, L]",5,0,...,guthj001,weavj003,44154,68,6,0,0,1,L,R
26,2015-04-11,Eric,Hosmer,ANA201504110,hosme001,0,4,"[L, L, L, L, L]",5,1,...,guthj001,weavj003,44154,68,6,0,0,1,L,R
27,2015-04-11,Omar,Infante,ANA201504110,infao001,0,9,"[R, R, R, R]",4,1,...,guthj001,weavj003,44154,68,6,0,0,1,R,R
28,2015-04-11,Matthew,Joyce,ANA201504110,joycm001,1,4,"[L, L, L, L]",4,0,...,guthj001,weavj003,44154,68,6,0,0,1,L,R
29,2015-04-11,Kendrys,Morales,ANA201504110,morak001,0,5,"[R, R, L, L, L]",5,2,...,guthj001,weavj003,44154,68,6,0,0,1,B,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41248,2015-09-27,Andres,Blanco,WAS201509270,blana001,0,2,"[L, R, R, R, R, L]",6,4,...,haraa001,gonzg003,28661,69,6,0,0,0,B,L
41249,2015-09-27,Matt,den Dekker,WAS201509270,dendm001,1,7,"[L, L, L, L]",4,4,...,haraa001,gonzg003,28661,69,6,0,0,0,L,R
41250,2015-09-27,Ian,Desmond,WAS201509270,desmi001,1,6,"[R, R, R]",3,4,...,haraa001,gonzg003,28661,69,6,0,0,0,R,R
41251,2015-09-27,Yunel,Escobar,WAS201509270,escoy001,1,4,"[R, R, R, R]",4,0,...,haraa001,gonzg003,28661,69,6,0,0,0,R,R
41252,2015-09-27,Jeff,Francoeur,WAS201509270,franj004,0,5,"[R, R, R, R, R]",5,4,...,haraa001,gonzg003,28661,69,6,0,0,0,R,L
41253,2015-09-27,Freddy,Galvis,WAS201509270,galvf001,0,1,"[R, L, R, R, L, R]",6,1,...,haraa001,gonzg003,28661,69,6,0,0,0,B,L
41254,2015-09-27,Bryce,Harper,WAS201509270,harpb003,1,3,"[L, L, L, L]",4,0,...,haraa001,gonzg003,28661,69,6,0,0,0,L,R
41255,2015-09-27,Erik,Kratz,WAS201509270,krate001,0,6,"[R, R, R, R]",4,1,...,haraa001,gonzg003,28661,69,6,0,0,0,R,L
41256,2015-09-27,Jose,Lobaton,WAS201509270,lobaj001,1,8,"[L, L, L, L]",4,2,...,haraa001,gonzg003,28661,69,6,0,0,0,B,R
41257,2015-09-27,Anthony,Rendon,WAS201509270,renda001,1,2,"[R, R, R, R]",4,0,...,haraa001,gonzg003,28661,69,6,0,0,0,R,R
41258,2015-09-27,Clint,Robinson,WAS201509270,robic001,1,5,"[L, L, L, L]",4,0,...,haraa001,gonzg003,28661,69,6,0,0,0,L,R
41259,2015-09-27,Darin,Ruf,WAS201509270,ruf-d001,0,4,"[R, R, R, R, R]",5,0,...,haraa001,gonzg003,28661,69,6,0,0,0,R,L
41260,2015-09-27,Cameron,Rupp,WAS201509270,ruppc001,0,8,"[R, R, R, R, R]",5,1,...,haraa001,gonzg003,28661,69,6,0,0,0,R,L
41261,2015-09-27,Michael,Taylor,WAS201509270,taylm002,1,1,"[R, R, R, R]",4,0,...,haraa001,gonzg003,28661,69,6,0,0,0,R,R
41262,2015-09-28,Tucker,Barnhart,WAS201509280,barnt001,0,8,"[L, L, L]",3,1,...,finnb001,schem001,24420,80,2,0,0,0,B,R
41263,2015-09-28,Brennan,Boesch,WAS201509280,boesb001,0,7,"[L, L, L]",3,0,...,finnb001,schem001,24420,80,2,0,0,0,L,R
41264,2015-09-28,Jay,Bruce,WAS201509280,brucj001,0,5,"[L, L, L, L]",4,0,...,finnb001,schem001,24420,80,2,0,0,0,L,R
41265,2015-09-28,Ivan,De Jesus,WAS201509280,dejei002,0,2,"[R, R, R, R]",4,0,...,finnb001,schem001,24420,80,2,0,0,0,R,R
41266,2015-09-28,Matt,den Dekker,WAS201509280,dendm001,1,7,"[L, L, L, L]",4,4,...,finnb001,schem001,24420,80,2,0,0,0,L,L
41267,2015-09-28,Todd,Frazier,WAS201509280,frazt001,0,4,"[R, R, R, R]",4,0,...,finnb001,schem001,24420,80,2,0,0,0,R,R
41268,2015-09-28,Tyler,Moore,WAS201509280,moort002,1,6,"[R, R, R, R]",4,1,...,finnb001,schem001,24420,80,2,0,0,0,R,L
41269,2015-09-28,Wilson,Ramos,WAS201509280,ramow001,1,5,"[R, R, R, R]",4,4,...,finnb001,schem001,24420,80,2,0,0,0,R,L
41270,2015-09-28,Anthony,Rendon,WAS201509280,renda001,1,3,"[R, R, R, R]",4,2,...,finnb001,schem001,24420,80,2,0,0,0,R,L
41271,2015-09-28,Clint,Robinson,WAS201509280,robic001,1,4,"[L, L, L, L]",4,1,...,finnb001,schem001,24420,80,2,0,0,0,L,L
41272,2015-09-28,Skip,Schumaker,WAS201509280,schus001,0,1,"[L, L, L, L]",4,1,...,finnb001,schem001,24420,80,2,0,0,0,L,R
41273,2015-09-28,Eugenio,Suarez,WAS201509280,suare001,0,6,"[R, R, R]",3,0,...,finnb001,schem001,24420,80,2,0,0,0,R,R
41274,2015-09-28,Michael,Taylor,WAS201509280,taylm002,1,1,"[R, R, R, R, R]",5,1,...,finnb001,schem001,24420,80,2,0,0,0,R,L
41275,2015-09-28,Trea,Turner,WAS201509280,turnt001,1,2,"[R, R, R, R]",4,1,...,finnb001,schem001,24420,80,2,0,0,0,R,L
41276,2015-09-28,Dan,Uggla,WAS201509280,uggld001,1,8,"[R, R, R, R]",4,0,...,finnb001,schem001,24420,80,2,0,0,0,R,L
41277,2015-09-28,Joey,Votto,WAS201509280,vottj001,0,3,"[L, L, L, L]",4,1,...,finnb001,schem001,24420,80,2,0,0,0,L,R

In [9]:
def calculate_previous_batter_games(frame):
    game_date = frame['game_date']
    player_id = frame['bat_id']
    
    sql = '''
    select event_cd,count(*) from vw_events 
        where BAT_EVENT_FL='T' and bat_id='{}' and game_date < '{}' 
        group by event_cd
    '''.format(player_id, game_date)
    
    games = pd.read_sql(sql, con)
    return games.set_index(games.event_cd)['count'].add_prefix('previous_batter_')

def calculate_previous_pitcher_games(frame):
    game_date = frame['game_date']
    player_id = frame['opposing_pitcher_id']
    
    sql = '''
    select event_cd,count(*) from vw_events 
        where BAT_EVENT_FL='T' and pit_id='{}' and game_date < '{}' 
        group by event_cd
    '''.format(player_id, game_date)
    
    games = pd.read_sql(sql, con)
    return games.set_index(games.event_cd)['count'].add_prefix('previous_pitcher_')

def calculate_pitcher_against_hand(frame):
    bat_hand_cd = frame['bat_hand']
    game_date = frame['game_date']
    player_id = frame['opposing_pitcher_id']

    sql = '''
    select event_cd,count(*) from vw_events 
        inner join rosters on (rosters.bat_hand_cd = '{}' and rosters.player_id = vw_events.bat_id)
        where BAT_EVENT_FL='T' and pit_id='{}' and game_date < '{}'
        group by event_cd

    '''.format(bat_hand_cd, player_id, game_date)

    games = pd.read_sql(sql, con)
    return games.set_index(games.event_cd)['count'].add_prefix('pitcher_against_hand_')
    
def calculate_batter_against_hand(frame):
    pit_hand_cd = frame['pit_hand_cd']
    game_date = frame['game_date']
    player_id = frame['bat_id']

    sql = '''
    select event_cd,count(*) from vw_events 
        where BAT_EVENT_FL='T' and pit_hand_cd='{}' and bat_id='{}' and game_date < '{}' 
        group by event_cd
    '''.format(pit_hand_cd, player_id, game_date)

    games = pd.read_sql(sql, con)
    return games.set_index(games.event_cd)['count'].add_prefix('batter_against_hand_')

bull_cache = dict()
def calculate_bullpen(frame):
    pit_team = frame['opposing_team_id']
    game_date = frame['game_date']
    
    if(bull_cache.get((pit_team, game_date), None) is not None):
        return bull_cache.get((pit_team, game_date))
    
    sql = '''
    select event_cd,count(*) from vw_events 
        where BAT_EVENT_FL='T' and game_date < '{}' and fld_team_id='{}' and PIT_START_FL='F'
        group by event_cd
    '''.format(game_date, pit_team)

    games = pd.read_sql(sql, con)
    result = games.set_index(games.event_cd)['count'].add_prefix('bullpen_')
    bull_cache[(pit_team, game_date)] = result
    
    return result

In [6]:
choices = choices.join(choices.apply(calculate_previous_batter_games, axis=1))
choices.to_csv('step1.csv')
choices = choices.join(choices.apply(calculate_previous_pitcher_games, axis=1))
choices.to_csv('step2.csv')

choices = choices.join(choices.apply(calculate_pitcher_against_hand, axis=1))
choices.to_csv('step3.csv')

choices = choices.join(choices.apply(calculate_batter_against_hand, axis=1))
choices.to_csv('step4.csv')

choices = choices.join(choices.apply(calculate_bullpen, axis=1))
choices.to_csv('step5.csv')

choices

,game_date,first_name_tx,last_name_tx,game_id,bat_id,bat_home_id,bat_lineup_id,array_agg,count,best_hit,...,batter_against_hand_16,batter_against_hand_17,batter_against_hand_18,batter_against_hand_19,batter_against_hand_2,batter_against_hand_20,batter_against_hand_21,batter_against_hand_22,batter_against_hand_23,batter_against_hand_3
0,2015-04-10,Erick,Aybar,ANA201504100,aybae001,1,6,"[R, L, R, L]",4,0,...,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN
1,2015-04-10,Lorenzo,Cain,ANA201504100,cainl001,0,3,"[R, R, R, R, R]",5,2,...,1.0,NaN,NaN,NaN,4.0,1.0,1.0,NaN,NaN,NaN
2,2015-04-10,Kole,Calhoun,ANA201504100,calhk001,1,1,"[L, L, L, L]",4,2,...,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,2.0
3,2015-04-10,Collin,Cowgill,ANA201504100,cowgc001,1,8,"[R, R]",2,1,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4,2015-04-10,C.J.,Cron,ANA201504100,cronc002,1,5,"[R, R, R, R]",4,0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0
5,2015-04-10,Alcides,Escobar,ANA201504100,escoa003,0,1,"[R, R, R, R, R]",5,1,...,NaN,NaN,NaN,NaN,4.0,1.0,1.0,NaN,NaN,NaN
6,2015-04-10,David,Freese,ANA201504100,freed001,1,4,"[R, R, R, R]",4,4,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0
7,2015-04-10,Johnny,Giavotella,ANA201504100,giavj001,1,9,"[R, R, R]",3,0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
8,2015-04-10,Alex,Gordon,ANA201504100,gorda001,0,6,"[L, L, L, L]",4,0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0
9,2015-04-10,Eric,Hosmer,ANA201504100,hosme001,0,4,"[L, L, L, L, L]",5,1,...,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,1.0,1.0
10,2015-04-10,Chris,Iannetta,ANA201504100,iannc001,1,7,"[R, R, R, R]",4,0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
11,2015-04-10,Omar,Infante,ANA201504100,infao001,0,9,"[R, R, R, R]",4,1,...,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,NaN,2.0
12,2015-04-10,Kendrys,Morales,ANA201504100,morak001,0,5,"[R, R, R, R, R]",5,4,...,NaN,NaN,NaN,NaN,4.0,1.0,1.0,NaN,NaN,1.0
13,2015-04-10,Mike,Moustakas,ANA201504100,mousm001,0,2,"[L, L, L, L, L]",5,1,...,1.0,NaN,NaN,1.0,3.0,NaN,1.0,NaN,NaN,NaN
14,2015-04-10,Salvador,Perez,ANA201504100,peres002,0,8,"[R, R, R, R]",4,1,...,NaN,NaN,NaN,NaN,4.0,2.0,NaN,NaN,1.0,NaN
15,2015-04-10,Albert,Pujols,ANA201504100,pujoa001,1,3,"[R, R, R, R]",4,0,...,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN
16,2015-04-10,Alex,Rios,ANA201504100,riosa002,0,7,"[R, R, R, R]",4,0,...,NaN,NaN,NaN,NaN,4.0,2.0,NaN,NaN,NaN,1.0
17,2015-04-10,Mike,Trout,ANA201504100,troum001,1,2,"[R, R, R, R]",4,1,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0
18,2015-04-11,Erick,Aybar,ANA201504110,aybae001,1,6,"[L, L, L, L]",4,1,...,1.0,NaN,1.0,NaN,4.0,2.0,NaN,NaN,NaN,1.0
19,2015-04-11,Drew,Butera,ANA201504110,buted001,1,8,"[R, R]",2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-04-11,Lorenzo,Cain,ANA201504110,cainl001,0,3,"[R, R, R, R, R]",5,1,...,1.0,NaN,NaN,NaN,3.0,2.0,NaN,NaN,1.0,1.0
21,2015-04-11,Kole,Calhoun,ANA201504110,calhk001,1,1,"[L, L, L, L]",4,4,...,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,3.0
22,2015-04-11,Alcides,Escobar,ANA201504110,escoa003,0,1,"[R, R, R, R, R]",5,1,...,NaN,NaN,NaN,NaN,5.0,3.0,1.0,NaN,NaN,NaN
23,2015-04-11,David,Freese,ANA201504110,freed001,1,5,"[R, R, R, R]",4,0,...,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,NaN,3.0
24,2015-04-11,Johnny,Giavotella,ANA201504110,giavj001,1,9,"[R, R, R]",3,0,...,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,2.0
25,2015-04-11,Alex,Gordon,ANA201504110,gorda001,0,6,"[L, L, L, L, L]",5,0,...,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0
26,2015-04-11,Eric,Hosmer,ANA201504110,hosme001,0,4,"[L, L, L, L, L]",5,1,...,NaN,NaN,NaN,NaN,4.0,2.0,NaN,NaN,NaN,1.0
27,2015-04-11,Omar,Infante,ANA201504110,infao001,0,9,"[R, R, R, R]",4,1,...,NaN,NaN,1.0,NaN,5.0,1.0,NaN,NaN,NaN,NaN
28,2015-04-11,Matthew,Joyce,ANA201504110,joycm001,1,4,"[L, L, L, L]",4,0,...,NaN,NaN,NaN,NaN,5.0,1.0,1.0,NaN,NaN,3.0
29,2015-04-11,Kendrys,Morales,ANA201504110,morak001,0,5,"[R, R, L, L, L]",5,2,...,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41248,2015-09-27,Andres,Blanco,WAS201509270,blana001,0,2,"[L, R, R, R, R, L]",6,4,...,2.0,NaN,1.0,NaN,38.0,15.0,8.0,NaN,2.0,12.0
41249,2015-09-27,Matt,den Dekker,WAS201509270,dendm001,1,7,"[L, L, L, L]",4,4,...,NaN,NaN,NaN,NaN,40.0,11.0,2.0,1.0,3.0,14.0
41250,2015-09-27,Ian,Desmond,WAS201509270,desmi001,1,6,"[R, R, R]",3,4,...,3.0,NaN,7.0,3.0,197.0,68.0,19.0,2.0,13.0,148.0
41251,2015-09-27,Yunel,Escobar,WAS201509270,escoy001,1,4,"[R, R, R, R]",4,0,...,8.0,NaN,6.0,2.0,218.0,100.0,22.0,1.0,7.0,49.0
41252,2015-09-27,Jeff,Francoeur,WAS201509270,franj004,0,5,"[R, R, R, R, R]",5,4,...,NaN,NaN,3.0,NaN,60.0,21.0,5.0,NaN,3.0,33.0
41253,2015-09-27,Freddy,Galvis,WAS201509270,galvf001,0,1,"[R, L, R, R, L, R]",6,1,...,NaN,NaN,1.0,NaN,80.0,37.0,4.0,NaN,NaN,22.0
41254,2015-09-27,Bryce,Harper,WAS201509270,harpb003,1,3,"[L, L, L, L]",4,0,...,3.0,NaN,1.0,NaN,134.0,63.0,22.0,1.0,34.0,93.0
41255,2015-09-27,Erik,Kratz,WAS201509270,krate001,0,6,"[R, R, R, R]",4,1,...,NaN,NaN,NaN,NaN,5.0,2.0,1.0,NaN,NaN,3.0
41256,2015-09-27,Jose,Lobaton,WAS201509270,lobaj001,1,8,"[L, L, L, L]",4,2,...,1.0,NaN,2.0,NaN,54.0,18.0,3.0,NaN,3.0,34.0
41257,2015-09-27,Anthony,Rendon,WAS201509270,renda001,1,2,"[R, R, R, R]",4,0,...,4.0,NaN,1.0,1.0,118.0,45.0,10.0,NaN,5.0,51.0
41258,2015-09-27,Clint,Robinson,WAS201509270,robic001,1,5,"[L, L, L, L]",4,0,...,5.0,NaN,3.0,1.0,143.0,42.0,13.0,1.0,8.0,40.0
41259,2015-09-27,Darin,Ruf,WAS201509270,ruf-d001,0,4,"[R, R, R, R, R]",5,0,...,2.0,NaN,NaN,NaN,42.0,23.0,4.0,NaN,7.0,15.0
41260,2015-09-27,Cameron,Rupp,WAS201509270,ruppc001,0,8,"[R, R, R, R, R]",5,1,...,NaN,NaN,2.0,1.0,23.0,10.0,5.0,1.0,3.0,12.0
41261,2015-09-27,Michael,Taylor,WAS201509270,taylm002,1,1,"[R, R, R, R]",4,0,...,1.0,NaN,5.0,2.0,147.0,57.0,12.0,2.0,10.0,118.0
41262,2015-09-28,Tucker,Barnhart,WAS201509280,barnt001,0,8,"[L, L, L]",3,1,...,2.0,NaN,3.0,NaN,102.0,37.0,8.0,NaN,3.0,35.0
41263,2015-09-28,Brennan,Boesch,WAS201509280,boesb001,0,7,"[L, L, L]",3,0,...,1.0,NaN,NaN,NaN,42.0,9.0,2.0,NaN,1.0,21.0
41264,2015-09-28,Jay,Bruce,WAS201509280,brucj001,0,5,"[L, L, L, L]",4,0,...,1.0,NaN,2.0,NaN,212.0,43.0,25.0,2.0,22.0,98.0
41265,2015-09-28,Ivan,De Jesus,WAS201509280,dejei002,0,2,"[R, R, R, R]",4,0,...,1.0,NaN,2.0,NaN,63.0,23.0,7.0,2.0,2.0,36.0
41266,2015-09-28,Matt,den Dekker,WAS201509280,dendm001,1,7,"[L, L, L, L]",4,4,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
41267,2015-09-28,Todd,Frazier,WAS201509280,frazt001,0,4,"[R, R, R, R]",4,0,...,7.0,NaN,3.0,2.0,243.0,63.0,31.0,1.0,21.0,93.0
41268,2015-09-28,Tyler,Moore,WAS201509280,moort002,1,6,"[R, R, R, R]",4,1,...,1.0,NaN,1.0,1.0,27.0,4.0,3.0,NaN,3.0,12.0
41269,2015-09-28,Wilson,Ramos,WAS201509280,ramow001,1,5,"[R, R, R, R]",4,4,...,NaN,NaN,NaN,NaN,65.0,21.0,2.0,NaN,3.0,24.0
41270,2015-09-28,Anthony,Rendon,WAS201509280,renda001,1,3,"[R, R, R, R]",4,2,...,NaN,NaN,NaN,NaN,32.0,15.0,4.0,NaN,NaN,7.0
41271,2015-09-28,Clint,Robinson,WAS201509280,robic001,1,4,"[L, L, L, L]",4,1,...,NaN,NaN,NaN,NaN,9.0,9.0,2.0,NaN,NaN,8.0
41272,2015-09-28,Skip,Schumaker,WAS201509280,schus001,0,1,"[L, L, L, L]",4,1,...,NaN,NaN,1.0,1.0,117.0,34.0,17.0,NaN,1.0,44.0
41273,2015-09-28,Eugenio,Suarez,WAS201509280,suare001,0,6,"[R, R, R]",3,0,...,3.0,NaN,3.0,NaN,132.0,50.0,15.0,2.0,9.0,66.0
41274,2015-09-28,Michael,Taylor,WAS201509280,taylm002,1,1,"[R, R, R, R, R]",5,1,...,NaN,NaN,NaN,NaN,43.0,18.0,2.0,NaN,4.0,34.0
41275,2015-09-28,Trea,Turner,WAS201509280,turnt001,1,2,"[R, R, R, R]",4,1,...,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN,1.0
41276,2015-09-28,Dan,Uggla,WAS201509280,uggld001,1,8,"[R, R, R, R]",4,0,...,NaN,NaN,1.0,NaN,13.0,6.0,2.0,1.0,NaN,13.0
41277,2015-09-28,Joey,Votto,WAS201509280,vottj001,0,3,"[L, L, L, L]",4,1,...,3.0,NaN,1.0,1.0,159.0,71.0,21.0,1.0,22.0,90.0

In [15]:
len(bull_cache)

4800