In [1]:
import sqlalchemy
con = sqlalchemy.create_engine('postgres://localhost/baseball')

In [138]:
sql = '''
select 
    game_id,
    bat_id,
    count(event_id), 
    max(h_cd) as best_hit, 
    count(case h_cd when '0' then null else 1 end) as num_hits, 
    count(case h_cd when '1' then 1 else null end) as num_singles,
    count(case h_cd when '2' then 1 else null end) as num_doubles, 
    count(case h_cd when '3' then 1 else null end) as num_triples,
    count(case h_cd when '4' then 1 else null end) as num_hrs 
    from vw_events 
        inner join vw_games using (game_id) 
    WHERE 
        bat_start_fl='T' 
        and BAT_EVENT_FL='T'
        and bat_fld_cd != '1'
    group by game_id, bat_id
'''

In [139]:
import pandas as pd
games = pd.read_sql(sql, con)
print len(games)
games

41278

,game_id,bat_id,count,best_hit,num_hits,num_singles,num_doubles,num_triples,num_hrs
0,BOS201509020,holtb002,5,0,0,0,0,0,0
1,PIT201505260,harrj002,4,2,2,1,1,0,0
2,HOU201506020,parej002,4,1,1,1,0,0,0
3,CIN201507050,ramia001,4,1,2,2,0,0,0
4,CHA201507310,abrej003,3,4,1,0,0,0,1
5,BAL201505150,freed001,4,1,1,1,0,0,0
6,WAS201506050,desmi001,4,2,2,1,1,0,0
7,ANA201505070,navae001,2,0,0,0,0,0,0
8,PHI201504060,howar001,4,2,1,0,1,0,0
9,TOR201508160,bautj002,4,4,1,0,0,0,1
10,WAS201509280,brucj001,4,0,0,0,0,0,0
11,BOS201506150,uribj002,4,1,2,2,0,0,0
12,LAN201508160,ethia001,3,1,1,1,0,0,0
13,TOR201509270,cabra002,4,0,0,0,0,0,0
14,CHA201510030,cabrm001,4,4,3,2,0,0,1
15,TEX201509180,cruzn002,4,1,1,1,0,0,0
16,CLE201508080,sanom001,4,1,1,1,0,0,0
17,MIN201507090,plout001,4,1,1,1,0,0,0
18,BAL201505150,davic003,4,0,0,0,0,0,0
19,ARI201510020,owinc001,4,0,0,0,0,0,0
20,BOS201504290,donaj001,4,0,0,0,0,0,0
21,PHI201505120,harrj002,4,4,1,0,0,0,1
22,PHI201507190,pradm001,5,1,2,2,0,0,0
23,WAS201508270,alony001,4,1,1,1,0,0,0
24,DET201505180,ramia001,4,4,1,0,0,0,1
25,MIN201504180,santc002,4,1,1,1,0,0,0
26,ATL201509190,ruizc001,3,1,1,1,0,0,0
27,SFN201505300,duffm002,4,0,0,0,0,0,0
28,CHA201510010,mousm001,5,2,2,1,1,0,0
29,SLN201505040,russa002,5,4,2,1,0,0,1
...,...,...,...,...,...,...,...,...,...
41248,SFN201509300,ethia001,3,0,0,0,0,0,0
41249,TEX201507080,tomay001,4,0,0,0,0,0,0
41250,CHN201504190,kempm001,4,1,1,1,0,0,0
41251,CHA201506170,garca003,4,1,1,1,0,0,0
41252,PHI201510040,krate001,2,0,0,0,0,0,0
41253,CHN201504050,heywj001,5,2,3,1,2,0,0
41254,ARI201507240,goldp001,4,1,1,1,0,0,0
41255,MIN201510020,mousm001,5,1,1,1,0,0,0
41256,PHI201505130,mercj002,4,1,1,1,0,0,0
41257,LAN201505120,ethia001,5,4,5,4,0,0,1
41258,WAS201506210,harrj002,4,1,2,2,0,0,0
41259,HOU201505030,sprig001,4,2,1,0,1,0,0
41260,CHN201508180,martj006,5,4,2,1,0,0,1
41261,MIA201507100,barnt001,4,0,0,0,0,0,0
41262,PHI201509160,taylm002,5,1,1,1,0,0,0
41263,MIA201509220,galvf001,5,1,3,3,0,0,0
41264,SEA201504220,rasmc001,4,2,2,1,1,0,0
41265,PIT201504170,davik003,4,2,3,2,1,0,0
41266,HOU201508210,castj006,3,2,1,0,1,0,0
41267,NYN201504150,ruppc001,4,1,2,2,0,0,0
41268,TOR201507310,martr004,5,1,1,1,0,0,0
41269,SFN201508280,carpm002,4,1,1,1,0,0,0
41270,HOU201509260,deshd002,5,1,1,1,0,0,0
41271,ARI201504220,fielp001,4,0,0,0,0,0,0
41272,MIL201505120,ramia003,4,2,1,0,1,0,0
41273,MIA201504120,river003,4,2,3,1,2,0,0
41274,TEX201508030,odorr001,5,3,2,1,0,1,0
41275,SEA201504070,giavj001,3,0,0,0,0,0,0
41276,SLN201506260,carpm002,5,0,0,0,0,0,0
41277,CLE201506050,kipnj001,5,1,1,1,0,0,0

In [42]:
games.describe()

              count
count  46220.000000
mean       3.472328
std        1.090286
min        1.000000
25%        3.000000
50%        4.000000
75%        4.000000
max       10.000000